

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/ofont.ru_SF\ UI\ Display.ttf');
}

@mixin font($color, $size, $line) {
    color: $color;
    font-size: $size;
    line-height: $line;
    
    @content;
  }

%text-style {
    font-family: Roboto Light;
    font-size: 18px;
    line-height: 24px;

    color: rgba(0, 0, 0, 0.7);

    @media screen and(max-width: 370px) {
        font-size: 14px;
        line-height: 18px;
    }
}

%item-numbers {
    font-family: Roboto Light;
    font-size: 24px;
    line-height: 32px;
    color: #129C65;

    @media screen and(max-width: 370px) {
        font-size: 18px;
    }
}

%caption-text {
    display: inline-block;
    font-family: Roboto Light; 
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

%h2-style {
    font-family: Roboto Light;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;

    color: #129C65;

    @media screen and(max-width: 370px) {
        font-size: 24px;
        padding-top: 30px;
    }
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #C3C3C3;    
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;

    @media screen and (max-width: 1200px) {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width: 1024px) {
        max-width: 724px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and (max-width: 800px) {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and(max-width: 600px) {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and(max-width: 500px) {
        max-width: 390px;
        width: 100%;
        margin: 0 auto;
    }

    @media screen and(max-width: 370px) {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }
}

header {
    width: 100%;
    min-height: 380px;
    background-image: url('../images/image.png'), linear-gradient(180deg, #E1E6E4 0%, #EEEEEE 47.51%);
    background-position: right;
    background-repeat: no-repeat;

    @media screen and (max-width: 1200px) {  
            width: 100%;
            background:linear-gradient(180deg, #E1E6E4 0%, #EEEEEE 47.51%);
    }

    main {
        padding-top: 30px;
        display: flex;
        justify-content: flex-start;

        @media screen and (max-width: 1200px) {  
            justify-content: space-between;
    }
    }

    .name {
        font-family: SF UI Display;
        width: 50px;
        height: 42px;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        color: #129C65;
    }
    
    menu {
        margin-left: 90px;
        vertical-align: top;
        display: flex;
        width: 515px;
        justify-content: space-between;

        @media screen and(max-width: 1200px) {
            width: 500px;
            margin: 0;
        }

        @media screen and(max-width: 1024px) {
            width: fit-content;
        }

        .menu-icon {

            @media screen and(max-width: 1024px) {
                width: 30px;
                height: 30px;
                display: block;
                float: right;
                background-image: url(../images/bars-solid.svg); 
                background-repeat: no-repeat;
                
        }
    }

    li {
        display: none;
    }

    ul {
        display: none;
        margin: 0;

        @media screen and(max-width: 1024px) {
            display: block;
            width: 170px;
        }
    }

    ul:hover li{
        height: 25px;
        width: 160px;
        display: inline-block;
        text-align: end;
        box-sizing: border-box;
        background: none;
        @extend %text-style;
    }
    
        .nav-el{
            display: inline-block;
            height: 19px;
            font-family: SF UI Display;
            font-size: 18px;
            line-height: 21px;
            color: #5F5F5F;

            @media screen and(max-width: 1024px) {
                display: none;
            }
        }
    }
    
    .phone {
        vertical-align: top;
        display: inline-block;
        min-width: 161px;
        height: 17px;
    
        font-family: SF UI Display;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        a:link {
            color: #129C65;
        }
        a:visited {
            color: rgba(0, 0, 0, 0.7);
        }

        @media screen and(min-width: 1201px) {
            margin-left: 328px;
        }

        @media screen and(max-width: 1024px) {
            display: none;
        }
    }

    .header {
        margin-top: 182px;
        max-width: 703px;
        font-family: SF UI Display;
        font-size: 62px;
        line-height: 59px;
        letter-spacing: 0.04em;

        color: rgba(0, 0, 0, 0.75);

        @media screen and(max-width: 1024px) {
            margin-top: 100px;
        }

        @media screen and(max-width: 900px) {
            margin-top: 80px;
            font-size: 52px;
        }

        @media screen and(max-width: 600px) {
            margin-top: 60px;
            font-size: 42px;
        }

        @media screen and(max-width: 370px) {
            line-height: 39px;
            margin: 40px auto 0;
            font-size: 28px;
            text-align: center;
        }
    }

    .lead {
        margin-top: 55px;
        max-width: 654px;
        font-family: SF UI Display;
        font-size: 22px;
        line-height: 29px;
        letter-spacing: 0.01em;

        color: rgba(0, 0, 0, 0.6);

        @media screen and(max-width: 900px) {
            margin-top: 30px;
            font-size: 18px;
        }
        @media screen and(max-width: 370px) {
            margin-top: 20px;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
    }

    .call {
        margin: 102px 0 100px; 
        width: 262px;
        height: 48px;
        border: 0;
        background: #129C65;
        border-radius: 2px;

        font-family: SF UI Display;
        font-size: 20px;
        line-height: 21px;
        letter-spacing: 0.05em;

        color: #FFFFFF;

        cursor: pointer;

        @media screen and (max-width: 800px) {
            margin: 40px 0 60px;
            width: 200px;
            font-size: 16px;
        }

        @media screen and (max-width: 370px) {
            display: block;
            margin: 30px auto 0;
            width: 160px;
            height: 30px;
            font-size: 12px;
        }
    }

    .call:hover {
        transition-duration: 1s;
        background: rgb(121, 194, 165);
    } 
    
}

.about {
    width: 100%;
    background: #F8F8F6;
    background-image: url('../images/image2.png'); 
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 1px solid rgba(18, 156, 101, 0.1);

    @media screen and (max-width: 1200px) {  
        width: 100%;
        background:#F8F8F6;
    }

    h2 {
        padding-top: 60px;
        @extend %h2-style;

        @media screen and(max-width: 370px) {
            padding-top: 30px;
            text-align: center;
        }

    }

    .about-us {
        margin: 40px 0;
        max-width: 683px;
        min-height: 247px;
        font-family: Roboto Light;
        font-size: 18px;
        line-height: 25px;

        color: rgba(0, 0, 0, 0.7);

        .about-el {
            margin: 0 0 20px 0;

            @media screen and(max-width: 370px) {
                margin-bottom: 12px;
                text-align: center;
                line-height: 20px;
            }
        }

        @media screen and(max-width: 370px) {
            font-size: 14px;
            margin-top: 20px;
        }
    }
}

.what-we-do {
    width: 100%;
    min-height: 432px;
    background: rgb(248, 248, 246);
    border-bottom: 1px solid rgba(18, 156, 101, 0.1);

    h2 {
        padding: 40px 0 0;
        @extend %h2-style;

        @media screen and(max-width: 370px) {
            padding-top: 30px;
            text-align: center;
        }
    }
}

.items{
    margin: 40px 0 0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 1440px;

    .item{
        margin-bottom: 40px;
        @extend %text-style;
        width: 322px;

        @media screen and(max-width: 370px) {
            width: 222px;
            margin: 0 auto 10px;
            text-align: justify;
        }
    }

    h3 {
        @extend %item-numbers;
        @media screen and(max-width: 370px) {
            text-align: center;
        }
    }

    @media screen and(max-width: 370px) {
        margin: 10px 0 30px;
        
    }
}

.plants {
    width: 100%;
    min-height: 1097px;
    background: #F8F8F6;
    border-bottom: 1px solid rgba(18, 156, 101, 0.1);

    h2 {
        padding-top: 60px;
        @extend %h2-style;

        @media screen and(max-width: 370px) {
            padding-top: 30px;
            text-align: center;
        }
    }

    .plants-line {
        margin: 40px 0;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        min-height: 429px;
    }

    .plant {
        margin-bottom: 40px;
        width: 361px;
        height: 429px;
        @media screen and(max-width: 1024px) {
            width: 330px;
        }

        @media screen and(max-width: 370px) {
            
            height: 330px;
        }

        img {
            @media screen and(max-width: 370px) {
                width: 300px;
                height: auto;
            }
        }
    }

    .caption {
        width: 361px;
        height: 28px;

        @media screen and(max-width: 370px) {
            width: 300px;
        }
    }

    .name {
        @extend %caption-text;

        color: rgba(0, 0, 0, 0.9);
        @media screen and(max-width: 370px) {
            font-size: 14px;
        }
    }

    .size {
        float: right;
        margin-right: 5px;
        @extend %caption-text;

        color: rgba(0, 0, 0, 0.7);
        @media screen and(max-width: 370px) {
            font-size: 14px;
        }
    }

    .price {
        float: right;
        @extend %caption-text;

        color: rgba(0, 0, 0, 0.7);
        @media screen and(max-width: 370px) {
            font-size: 14px;
        }
    }
}

.what-you-get {
    width: 100%;
    min-height: 270px;
    background: #F8F8F6;
    border-bottom: 1px solid rgba(18, 156, 101, 0.1);

    h2 {
        padding-top: 60px;
        @extend %h2-style;
        @media screen and(max-width: 370px) {
            padding-top: 30px;
            text-align: center;
        }
    }

    .whatyouget-container {
        margin: 40px 0 60px;
        width: 100%;
        min-height: 72px;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;

        @media screen and(max-width: 370px) {
            margin: 20px 0 20px;
        }
        
    }

    .profit {
        margin-bottom: 20px;
        width: 222px;
        font-family: Roboto Light;
        font-size: 18px;
        line-height: 24px;
        color: #000000;

        @media screen and (max-width: 1200px) {
            width: 200px;
        }

        @media screen and (max-width: 1024px) {
            width: 242px;
        }

        @media screen and(max-width: 370px) {
            margin: 0 auto 15px;
            width: 200px;
            font-size: 14px;
            line-height: 18px;
            text-align: justify;
        }
    }
}

.call-order {
    width: 100%;

    background: #F8F8F6;
    background-image: url('../images/image3.png'); 
    background-repeat: no-repeat;
    background-position: right;

    @media screen and (max-width: 1200px) {  
        width: 100%;
        min-height: 447px;
        background:#F8F8F6;
    }
    @media screen and(max-width: 370px) {
        margin: 0 auto ;
        padding-top: 30px;
        width: 100%;
        min-height: 400px;
    }

    form {
        padding-top: 60px; 
        width: 490px;
        height: 245px;
        margin-bottom: 97px;

        @media screen and(max-width: 600px) {
            width: 350px;
            margin-bottom: 60px;
        }

        @media screen and(max-width: 370px) {
            margin-bottom: 0px;
            padding-top: 0;
            width: 100%;
        }

        h2 { 
            @extend %h2-style;

            @media screen and(max-width: 370px) {
                text-align: center;
                padding-top: 0;
            }
        }

        p {
            margin: 20px 0 28px;; 
            font-family: Roboto Light;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: rgba(0, 0, 0, 0.7);

            @media screen and(max-width: 370px) {
                margin: 10px 0 28px;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
            }
        }

        .input-name {
            padding-left: 20px;
            margin-bottom: -1px;
            width: 100%;
            height: 62px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            font-family: Roboto Light;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.04em;

            @media screen and(max-width: 600px) {
                font-size: 14px;
            }
            @media screen and(max-width: 370px) {
                height: 42px;
            }
        }

        .number {
            padding-left: 20px;
            width: 60%;
            height: 62px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            border-bottom-left-radius: 3px;
            font-family: Roboto Light;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.04em;

            @media screen and(max-width: 600px) {
                font-size: 14px;
            }
            @media screen and(max-width: 370px) {
                height: 42px;
            }
        }

        .submit {
            margin: -5px;
            width: 40%;
            height: 61px;
            background: #129C65;
            box-sizing: border-box;
            border-bottom-right-radius: 3px;
            font-family: Roboto Light;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;

            @media screen and(max-width: 600px) {
                font-size: 14px;
            }
            @media screen and(max-width: 370px) {
                font-size: 13px;
                height: 41px;
            }
        }
        .submit:hover {
            transition-duration: 1s;
            background: rgb(121, 194, 165);
        } 
    }
}

footer {
    width: 100%;
    background: rgb(248, 248, 246);
    border-top: 1px solid rgba(18, 156, 101, 0.1);

    .bottom {
        padding-top: 40px;
        display: flex;
        flex-flow: wrap;
        max-width: 1440px;
        height: 42px;
        justify-content: space-between;

        .name {
            font-family: SF UI Display;
            width: 63px;
            height: 42px;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            color: #129C65;
        }

        .phone {
            vertical-align: top;
            display: inline-block;
            min-width: 161px;
            height: 17px;
    
            font-family: SF UI Display;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.02em;
            a:link {
                color: #129C65;
            }
            a:visited {
                color: rgba(0, 0, 0, 0.7);
            }

            @media screen and(max-width: 370px) {
                margin-top: 20px;
            }
        }

        .networks {
            margin-left: 30px;
            padding-top: 2px;
            width: 750px;
            display: flex;
            flex-flow: row;
            justify-content: space-around;

            font-family: Roboto Light;
            font-size: 16px;
            line-height: 13px;
            letter-spacing: 0.05em;

            @media screen and (max-width: 1200px) {
                max-width: 500px;
                justify-content: space-between;
            }
            @media screen and (max-width: 1024px) {
                max-width: 400px;
                justify-content: space-between;
            }
            @media screen and (max-width: 600px) {
                max-width: 200px;
                justify-content: flex-end;
            }

            .contact {
                display: none;
                @media screen and (max-width: 1200px) {
                    margin: 0 0 0 15px;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background-repeat: no-repeat;
                }
            }

            #at {
                background-image: url(../images/at-solid.svg);
            }

            #inst {
                background-image: url(../images/instagram-brands.svg);
            }

            #fb {
                background-image: url(../images/facebook-square-brands.svg);
            }

            #tg {
                background-image: url(../images/telegram-plane-brands.svg);
            }

            .contact:hover {
                transform: scale(1.2);
                transition-duration: 0.3s;
            }

            p {
                display: inline-block;

                @media screen and (max-width: 1200px) {
                    display: none;
                }

                a:link {
                    color: rgba(0, 0, 0, 0.8);
                }
                a:visited {
                    color: #129C65;
                }
            }
        }
    }
}
